.logo {
    margin-top: 15px;
    width:10em;
    height:10em;
}

.logo-text {
    display: inline-block;
    font-family: 'Arial';
    color: black;
    font-weight: bold;
    font-size: 4em;
    line-height: 20px;
    margin: 20px;
}

.form {
    margin: 0 auto;
    width: 290px;
    text-align: center;
}

.form-control {
    margin-top: 10px;
}

.form-submit {
    border: 0;
    background-color: #FC6600;
}

.form-submit:hover {
    background-color: #D65600;
    border: 1px solid #FC6600;
}

.btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: #FC6600;
    border-color: #FC6600;
}

.btn-primary:focus {
    box-shadow: 0;
}

.form-gray {
    color: gray;
}

.form-dividor {
    border-color: gray;
}

.form-inlinecontrol {
    bottom: 50px;
}