.container{
    margin-top: 10px;
}

#navicon {
    height: 40px;
    margin-right: 10px;
}

#navtitle {
    color: white;
}

.navbutton {
    background-color: transparent;
    margin-right: 5px;
    color: white;
    border: 1px solid #FC6600;
    border-radius: 5px;
    font-weight: 500;

}

.navbutton:hover {
    color: white;
    background-color: #FC6600;
    border: 1px solid #FC6600;
}

.navbutton:focus {
    box-shadow: 0 0 0 0.2rem rgba(252,102,0, 0.5);
}

.navbutton:active {
    background-color: #FC6600;
}
.navbar-dark .navbar-nav .active > .nav-link{
    font-weight: 500;
    color: #FC6600;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    transition: 0.4s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FC6600;
}

.footer{
    margin-top: 25px;
    margin-bottom: 25px;
}

#animalSearchForm label {
    margin-right: 10px;
}

#animalSearchForm .form-group {
    margin-bottom: 15px;
}

#animalSearchForm .form-group:not(:last-of-type) {
    margin-right: 20px;
}

#animalSearchForm .btn-primary {
    background-color: #FC6600;
    border-color: #FC6600;
}

#animalSearchForm .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(252,102,0, 0.5);
}

#animalSearchForm .btn-primary {
    margin-left: 10px;
}

#image-form {
    width: 100%;
}


.v-center {
    display: flex;
    align-items: center;
}


.detailBox {
    width: 320px;
    border: 1px solid #bbb;
    margin: 50px;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

.titleBox label {
        color: #444;
        margin: 0;
        display: inline-block;
}

.commentBox {
    padding: 10px;
    border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
        width: 80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
        width: 18%;
}

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px 0;
}

.commentList {
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow: auto;
}

.commentList li {
        margin: 0;
        margin-top: 10px;
}

.commentList li > div {
            display: table-cell;
 }

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

.commenterImage img {
        width: 100%;
        border-radius: 50%;
}

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;
}

#about_me{
    color: darkorange;
    font-size: 16pt;
}

#select2-culture-dropdown-container {
    text-align: left;
}

.footline{
    margin-top: 50px;
    border-top: 1px solid #ccc !important;
}