

.helper{
	position: relative;
	margin-top : -32px;
	margin-right : 5px;
	color : red;
	float : right;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltip-inner {
	text-align: left;
	color: black;
	background: GhostWhite;	
	border: 1px solid #ccc !important;
	border-radius: 10px;
}

.tooltip.right  {
  margin-left: 20px;
}

#email-verification{
	background: #FC6600;
	color:#fff;
}

#datepicker{
	border-top-right-radius: 5px !important;	
	border-bottom-right-radius: 5px !important;
}