@model AdotAqui.Models.UserViewModel

@{
    ViewData["Title"] = "Registar";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-datepicker.css"/>
    <link rel="stylesheet" href="~/css/auth.css" />
}

<div class="text-center">
    <img class="logo" src="~/images/iconblack.png" /><br />
    <span class="logo-text">AdotAqui</span>
    <form asp-action="Create" class="form">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                    <input asp-for="Birthday" class="form-control" data-provide="datepicker" type="text" readonly />
                    <span asp-validation-for="Birthday" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registar" class="form-control form-submit btn btn-primary mb-2" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/bootstrap/js/bootstrap-datepicker.js"></script>
}
