@using AdotAqui.Areas.Identity.Models.ManageViewModels
@using Microsoft.Extensions.Localization;

@inject IStringLocalizer<SharedResources> SharedLocalizer
@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
}
@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/css/auth.css" />
    <link rel="stylesheet" href="~/css/perfil.css" />
}
@if (Model.StatusMessage != null)
{
    <partial name="_StatusMessage" model="Model.StatusMessage" />
}
<div class="text-center">

    <div id="profile_group">
        <div><img id="profile_photo" src="https://via.placeholder.com/250x250" /></div>

        <form id="profile-form" method="post" class="form">

            <div class="form-group">
                <label asp-for="Input.Email" class="label_text"></label>
                <input asp-for="Input.Email" class="form-control" id="Email" />
                @if (Model.IsEmailConfirmed)
                {
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn my-2 my-sm-0 navbutton">@SharedLocalizer["Label_ResendMail"]</button>
                }
                <div id="result_mail" class="result_mail helper"></div>
                <span asp-validation-for="Input.Email" class="text-danger" style="display: block;"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name" class="label_text"></label>
                <input asp-for="Input.Name" class="form-control" id="Name" />
                <div id="result_name" class="result_name helper"></div>
                <span asp-validation-for="Input.Name" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber" class="label_text"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" id="Phone" />
                <div id="result_pn" class="result_pn helper"></div>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Input.Birthday" class="label_text"></label>
                <div id="datepicker" class="input-group date" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                    <input asp-for="Input.Birthday" class="form-control" type="text" readonly />
                    <span asp-validation-for="Input.Birthday" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>

                </div>
            </div>
            <button type="submit" class="form-control form-submit btn btn-primary mb-2">@SharedLocalizer["Label_SaveChanges"]</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/jquery/validation.js"></script>
}

