@{
    ViewData["Title"] = "Animais";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/css/auth.css" />
}

<div class="text-center">
    <img class="logo" src="~/images/iconblack.png" /><br />
    <span class="logo-text">AdotAqui</span>
</div>