@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
<form asp-area="Identity" asp-controller="Account" asp-action="LogOff" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
    @if (this.User.IsInRole("Administrator"))
    {
        <a asp-controller="Users" asp-action="Index" class="btn my-2 my-sm-0 navbutton">Config</a>
    }
    <a asp-area="Identity" asp-page="/Identity/Manage" class="btn my-2 my-sm-0 navbutton">Meu Perfil</a>
    <button type="submit" class="btn my-2 my-sm-0 navbutton">Logout</button>
</form>
}
else
{
    <a class="btn my-2 my-sm-0 navbutton" asp-area="Identity" asp-controller="Account" asp-action="Register">Registar</a>
    <a class="btn my-2 my-sm-0 navbutton" asp-area="Identity" asp-controller="Account" asp-action="Login">Entrar</a>
}


