@using AdotAqui.Models.ViewModels
@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Aconteceu alguma coisa de errado.</h1>
<h2 class="text-danger">Ocorreu um erro enquanto o servidor processava o seu pedido.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Código do Pedido:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    <strong>Código do Erro:</strong> <code>@Model.ErrorId</code>
</p>

@if (Model.ShowDescription)
{
    <p>
        <strong>Descrição do Erro:</strong> <code>@Model.Description</code>
    </p>
}

<h3>Ajude-nos a corrigir o código do César, do Rúben e do David.</h3>
<p>
    Caso o erro que encontre não seja esperado, contacte-nos através de <a href="mailto:support@adotaqui.com">support@adotaqui.com</a> com os detalhes desta página.
</p>
