@model AdotAqui.Models.Entities.AnimalIntervention

@{
    ViewData["Title"] = "Delete";
}

<h2>Cancelar Intervenção</h2>

    Deseja realmente cancelar a intervenção ao @Model.Animal.Name?<br />
    Esta intervenção irá ser realizada com @Model.User.Name
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InterventionId" />
        <input type="submit" value="Cancelar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
