@model AdotAqui.Models.Entities.AnimalIntervention

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes da Intervenção</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Data a realizar: @Html.DisplayFor(model => model.Date)
        </dd>
        <dd>
            Estado: @if (Model.Completed)
            {
                <span>Terminada</span>
            }
            else
            {
                <span>Por Realizar</span>
            }
        </dd>
        <dd>
            Detalhes: @Html.DisplayFor(model => model.Details)
        </dd>
        <dd>
            Veterinario(a): @Model.User.Name
        </dd>
        <dd>
            Animal: @Model.Animal.Name
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
