@model AdotAqui.Models.Entities.AnimalIntervention

@{
    ViewData["Title"] = "Edit";
}

<h2>Terminar</h2>

<h4>Intervenção Médica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Finish">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InterventionId" />
            <div class="form-group">
                Detalhes:
                <textarea asp-for="Details" class="form-control"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Terminar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
