@using Microsoft.Extensions.Localization;


@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "Confirmação do Email";
}

<h1>@SharedLocalizer["Label_ConfirmedEmailTitle"]</h1>
<div>
    <p>
        @SharedLocalizer["Label_ConfirmedEmailWelcome"] <a asp-controller="Account" asp-action="Login">@SharedLocalizer["Label_ConfirmedEmailLogin"]</a>
    </p>
</div>
