@{
    ViewData["Title"] = "Confirmação do Email";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        Obrigado por confirmar o endereço e-mail. <a asp-controller="Account" asp-action="Login">Poderá efetuar o seu login aqui.</a>
    </p>
</div>
