@using AdotAqui.Areas.Identity.Models.AccountViewModels
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Esqueceu a palavra-chave?";
}
@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/css/auth.css" />
}

<div class="text-center">
    <img class="logo" src="~/images/iconblack.png" /><br />
    <span class="logo-text">AdotAqui</span>
    <form method="post" class="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="form-control form-submit btn btn-primary mb-2">Recuperar</button>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
