@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer["Label_EmailSent"];
}
<h2>@SharedLocalizer["Label_RecoverAccount"]</h2>
<p>
    @SharedLocalizer["Label_CheckEmail"]
</p>