@using Microsoft.AspNetCore.Identity
@using AdotAqui.Areas.Identity.Models.AccountViewModels
@using Microsoft.Extensions.Localization;
@model LoginViewModel
@inject SignInManager<User> SignInManager
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = "Login";
}
@section Styles {
    <link rel="stylesheet" href="~/css/auth.css" />
}


<div class="text-center">
    <img class="logo" src="~/images/iconblack.png" /><br />
    <span class="logo-text">AdotAqui</span>
    <form method="post" class="form auth-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox center">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="form-control form-submit btn btn-primary mb-2">@SharedLocalizer["Label_SignIn"]</button>
        </div>
        <div class="form-group">
            <p class="center">
                <a asp-action="ForgotPassword">@SharedLocalizer["Label_ForgotPassword"]</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
