@{
    ViewData["Title"] = "Confirmação de alteração da password";
}
<h1>@ViewData["Title"].</h1>
<p>
    A sua password foi alterada. <a asp-controller="Account" asp-action="Login">Poderá efetuar o seu login aqui.</a>
</p>

